<configuration>
    <packageSources>
        <clear />
        <add key="Artifactory" value="http://artifactory:8081/artifactory/api/nuget/v3/nuget-remote" />
    </packageSources>

    <packageSourceCredentials>
        <Artifactory>
            <add key="Username" value="admin" />
            <add key="ClearTextPassword" value="password" />
        </Artifactory>
    </packageSourceCredentials>
</configuration>